html,
body {
  margin: 0px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main > h1 {
  color: rgb(219, 126, 155);
  margin: 0px;
  padding: 0px;
  padding: 1rem;
  border-bottom: 3px solid rgb(219, 126, 155);
}

main > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

main {
  border: 3px solid rgb(219, 126, 155);
  width: fit-content;
  margin: 1rem;
}

main > div > p {
  margin: 0px;
}

main > div > p:nth-child(1) {
  color: rgb(160, 227, 160);
}

main > div > p:nth-child(2) {
  color: rgb(242, 147, 147);
}

main > div > p:nth-child(3) {
  color: gainsboro;
}
