:root {
  /* Whites (yellow) */
  --white-light: hsla(43, 48%, 95%, 1);
  --white: hsla(43, 68%, 92%, 1);
  --white-dark: hsla(43, 78%, 72%, 1);

  --gray-lighter: hsla(43, 10%, 75%, 0.35);
  --gray-light: hsla(43, 10%, 75%, 1);
  --gray: hsla(240, 4%, 50%, 1);
  --black: #342f3a;
  /* Browns */
  --brown-light: hsla(32, 46%, 60%, 1);
  --brown: hsla(25, 37%, 37%, 1);
  --brown-dark: hsla(17, 48%, 16%, 1);
  /* Reds */
  --red-light: hsla(6, 64%, 79%, 1);
  --red: hsla(6, 64%, 59%, 1);
  --red-dark: hsla(6, 44%, 49%, 1);
  /* Other */
  --green: hsla(69, 44%, 56%, 1);
  --blue: hsla(210, 44%, 46%, 1);
  --blue-dark: hsla(210, 74%, 36%, 1);

  --border: 2px solid var(--brown-dark);
  --shadow: -4px 4px 0px hsla(25, 37%, 47%, 0.35);
  --text-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
}

/* 
 * Block Component Definition
 */

.block {
  border: var(--border);
  box-shadow: var(--shadow);
  background-color: var(--white);
}

.block > h2 {
  font-size: 0.85rem;
  border-bottom: var(--border);
  padding: 0.25rem;
  margin: 0;
  color: var(--white-light);
  text-shadow: var(--text-shadow);
  background-color: var(--red);
}

.block > h3 {
  color: var(--gray);
  text-decoration: underline;
  font-weight: bold;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  margin: 0;
}

.blank-block > p,
.block > p {
  margin: 0;
  margin-bottom: 1rem;
}

.block > p {
  padding: 0.25rem 0.25rem;
}

.blank-block > blockquote,
.block > blockquote {
  display: block;
  font-style: normal;
  width: fit-content;
  padding: 0rem 0.25rem;
  margin: 1rem 0.25rem;
  color: var(--gray);
  border-left: 2px solid var(--gray);
  background-color: var(--gray-lighter);
  box-sizing: border-box;
}

.blank-block > blockquote {
  margin: 1rem 0rem;
  width: calc(100%);
}

.block > pre code.hljs {
  margin: 0.25rem;
  box-shadow: none;
}

.blank-block > p:last-child,
.block > p:last-child {
  margin-bottom: 0rem;
}

/* 
 * Navbar definition
 */

.navbar {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.navbar > a {
  min-width: 4rem;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: var(--brown-dark);
  padding: 0.125rem 0.5rem;
  margin: 0;
  background-color: var(--green);

  border: var(--border);
  box-shadow: var(--shadow);
}

.navbar > a:link,
.navbar > a:visited {
  color: var(--brown-dark);
}

.copy {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.copy:hover::before {
  content: attr(data-copy);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.125rem 0.5rem;
  background-color: var(--green);
  color: var(--black);
  z-index: 1;
  box-shadow: var(--shadow);
}

.sb-break {
  display: flex;
  align-items: center;
  margin: 2rem 0rem;
}

.sb-break > hr {
  width: 100%;
  border-style: solid;
  /* border-width: 2px; */
  border-color: var(--red-light);
}

.sb-break > img {
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
}

/* 
 * Default Style Overrides
 */

html {
  background: var(--white-light);
  background-image: url('grid.svg');
  background-attachment: fixed;
}

h1,
h2 {
  font-family: 'Press Start 2P', monospace;
}

h3,
p,
a,
li,
code,
textarea,
blockquote {
  font-family: 'VT323', monospace;
  font-size: 22px;
}

li {
  margin-bottom: 0.5rem;
  list-style-type: square;
}

li > b {
  font-weight: normal;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  background-color: hsla(69, 54%, 66%, 0.5);
}

li:last-child {
  margin-bottom: 0;
}

em {
  font-style: normal;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  background-color: var(--gray-lighter);
}

p > code {
  color: var(--gray);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
}

p > br {
  content: ' ';
  display: block;
  margin: 1rem 0;
}

a {
  color: var(--blue);
}

a:link {
  color: var(--blue);
}

a:visited {
  color: var(--blue-dark);
}
