:root {
  --block-width: 100%;
  --block-height: 400px;
}

.toggle {
  border: var(--border);
  box-shadow: var(--shadow);
}

.screen {
  width: 100%;
  height: var(--block-height);
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white);
  font-size: 18px;
  border-top: var(--border);

  font-size: 0;
  padding: 4px;
}

#buttons button {
  cursor: pointer;
  margin: 0;
  padding: 0 4px;
  border-radius: 0;
  border-color: hsla(43, 68%, 96%, 1);

  font-family: 'VT323', monospace;
  font-size: 18px;

  color: var(--brown-dark);
  background-color: var(--white);
}

#buttons button[data-active='true'] {
  border-color: hsla(69, 54%, 90%, 1);
  background-color: hsla(69, 54%, 66%, 1);
}

button#reset {
  border-color: hsla(6, 64%, 90%, 1);
  background-color: hsla(6, 70%, 76%, 1);
}

.codeblock {
  width: var(--block-width);
  height: var(--block-height);
}

h2 {
  font-size: 0.85rem;
  border-bottom: var(--border);
  padding: 0.25rem;
  margin: 0;
  color: var(--white-light);
  text-shadow: var(--text-shadow);
  /* background-color: var(--red); */
  background-color: hsla(208, 56%, 65%, 1);
}

.codeblock > pre {
  width: 100%;
  height: 100%;

  margin: 0;
  border: none;
  overflow: auto;
}

.codeblock code {
  border: none !important;
}

.codeblock > textarea {
  width: 100%;
  height: 100%;

  white-space: pre;
  overflow-wrap: normal;
  overflow: auto;
  box-sizing: border-box;

  padding: 1rem;
  color: var(--gray-light);
  background: var(--black);

  border: none;
  outline: none;
  resize: none;
}

#view {
  overflow-x: auto;
  overflow-y: hidden;
}

.codeblock > iframe {
  /* width: calc(400px + 2rem); */
  min-width: calc(400px + 2rem);
  width: 100%;
  height: 100%;
  border: none;
}
